body {
  background-color: #444;
  color: #eee;
  padding-top: 50px;
}

.tile {
  background-color: #777;
  height: 400px;
  margin-top: 30px;
}

.star-count__text {
  font-size: 120px;
  padding-top: 100px;
}

.star-count__star {
  font-size: 128px;
}

.chart__x-axis path {
  display: none;
}

.chart__x-axis line,
.chart__y-axis line,
.chart__y-axis path {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.chart__title text,
.chart__x-axis text,
.chart__y-axis text {
  fill: #eee;
}

.chart__line {
  fill: none;
  stroke-width: 2px;
}

.chart__line--orange {
  stroke: #FF8300;
}

.chart__line--green {
  stroke: #00EA4F;
}

.chart__line--blue {
  stroke: #1B3FE6;
}

.top-issues__header {
  font-size: 56px;
  padding-top: 20px;
}

.top-issues__header-icon {
  font-size: 64px;
}

.top-issues__icon {
  font-size: 32px;
}

.top-issues__issue {
  border-bottom: 1px solid #444;
  color: #eee;
  cursor: pointer;
  display: block;
  font-size: 24px;
  height: 48px;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-issues__issue:hover {
  background-color: #999;
}

.top-issues__issue:hover,
.top-issues__issue:focus {
  color: #eee;
  text-decoration: none;
}

.top-issues__issue:last-child {
  border-bottom: none;
}

.top-issues__issue-title {
  font-size: 24px;
}

.top-issues__list {
  padding: 0 10px 10px 10px;
}

.template {
  display: none;
}

.loader__wrapper {
  padding-top: 90px;
}

/* Loader taken from https://github/com/lukehaas/css-loaders, which is
 * released under the MIT License. */
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
